/* Reset some default styles for body and margin */
body {
  margin: 0;
  padding: 0px 158px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Syne", sans-serif;
}

h1 {
  font-family: "Syne", sans-serif;
}

p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #000b1c99;
}

/* Style for the fixed navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  color: #0b2240;
  /* Text color for the navigation bar */
  padding: 16px 0px;
  z-index: 100;

  .nav-links {
    display: flex;
    align-items: center;

    a {
      padding-right: 40px;
      text-decoration: none;
      letter-spacing: 3px;
      color: inherit;
      font-weight: 300;
      font-size: 14px;

      &:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      a:hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        bottom: 0;
        left: 0;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.3s ease;
      }
    }
  }
}

.cv-cntnr {
  width: 250px;

  .btn {
    padding: 12px 32px;
    border-radius: 250px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    font-weight: bolder;
    position: relative;

    .ri-download-line {
      margin-left: 12px;
    }

    .parallelogram-1 {
      position: absolute;
      top: 0px;
      right: 230px;
      width: 10px;
      height: 50px;
      transform: skew(20deg);
      background: #f7f7f7;
      transition: right 0.8s ease-out;
    }

    .parallelogram-2 {
      position: absolute;
      top: 0px;
      right: 210px;
      width: 5px;
      height: 50px;
      transform: skew(20deg);
      background: #f7f7f7;
      transition: right 0.8s ease-out;
    }

    &:hover {
      padding: 16px 36px;
      border-radius: 250px;
      color: #fff;
      background-color: #000;
      font-size: 16px;
      font-weight: bolder;
      transform: rotate(-0.5deg);

      .parallelogram-1 {
        right: -20px;
      }

      .parallelogram-2 {
        right: -30px;
      }
    }
  }
}

.container {
  height: 70px;
  padding: 55px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.menu {
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  list-style-type: none;

  .share {
    i.ri-grid-fill {
      height: 1500px;
      width: 150px;
      text-align: center;
      background-color: #fff;
      border-radius: 2px;
    }

    &:hover {
      &.bottom {
        .submenu {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              opacity: 1;
              top: #{$i * 50}px;
              transform: rotate(0deg);
              transition-delay: #{$i * 0.08}s;
            }
          }
        }
      }

      &.left {
        .submenu {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              opacity: 1;
              left: #{-$i * 51}px;
              transform: rotate(0deg);
              transition-delay: #{$i * 0.5}s;
            }
          }
        }
      }

      &.right {
        .submenu {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              opacity: 1;
              left: #{$i * 50}px;
              transform: rotate(0deg);
              transition-delay: #{$i * 0.08}s;
            }
          }
        }
      }

      &.top {
        .submenu {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              opacity: 1;
              top: #{-$i * 51}px;
              transition-delay: #{$i * 0.08}s;
              transform: rotateY(0deg);
            }
          }
        }
      }
    }
  }

  .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      transition: all ease-in-out 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;

      a {
        color: #212121;
        background-color: #fff;
        text-decoration: none;
        padding: 16px;
        border-radius: 100px;

        &:hover {
          padding: 0px;
          border-radius: 0px;

          &.linkedin {
            i.ri-linkedin-fill {
              padding: 16px;
              border-radius: 100px;
              background-color: #0077b5;
              color: #fff;
            }
          }

          &.dribbble {
            i.ri-dribbble-line {
              padding: 16px;
              border-radius: 100px;
              background-color: #c7166f;
              color: #fff;
            }
          }

          &.behance {
            i.ri-behance-fill {
              padding: 16px;
              border-radius: 100px;
              color: #fff;
              background-color: #0057ff;
            }
          }

          // &.instagram{
          //   i.fa{
          //     background-color: #e4405f;
          //   }
          // }
        }
      }
    }

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        transform: rotateX(#{$i * 45}deg);
      }
    }
  }

  &.bottomRight {
    background-color: #fff;
    border-radius: 100px;
    padding: 16px;
    bottom: 48px;
    right: 48px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Full viewport height */
  #bg-wrap {
    position: absolute;
    opacity: 0.2;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    /* Ensure it's behind other content */
  }

  .centered {
    padding: 0px 185px;
    display: flex;
    flex-direction: column;
    text-align: left;

    h1 {
      text-align: start;
      font-size: 64px;
      /* Adjust the heading size as needed */
      margin-bottom: 64px;
    }

    p {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      /* Adjust the paragraph size as needed */
      margin-bottom: 20px;
      color: #4d4d4d;
    }

    .scroll {
      display: flex;
      justify-content: center;
      transition: transform 0.3s ease-in-out;

      a {
        color: #333;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }

      i {
        margin-left: 5px;
        animation: arrowBounce 1s infinite;
      }
    }
    .scroll:hover{
      background-color: #000;
    }

    @keyframes arrowBounce {

      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }

      40% {
        transform: translateY(-10px);
      }

      60% {
        transform: translateY(-5px);
      }
    }

    a {
      font-size: 10px;
      text-decoration: none;
      color: #111111;
      /* Link color */
      transition: color 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      width: 300px;
      height: 150px;
      border-radius: 50%;
      justify-content: center;

      /* Smooth color transition on hover */
      p {
        text-align: center;
        font-weight: regular;
        font-size: 12px;
      }

      &:hover {
        text-decoration: none;
        color: #111111;
        /* Link color */
        transition: color 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  .is-hidden {
    display: none !important;
  }

  .PageBackToWork {
    &-heading {
      text-align: start;
      letter-spacing: 0.05em;

      &-rotationTextContainer {
        position: relative;
      }

      &-rotationText {
        display: inline-block;
        position: absolute;
        left: 300px;

        &.is-inactive {
          position: absolute;
          right: 0;
          bottom: 100%;
        }
      }

      &-itText {
        display: inline-block;
      }

      &-btmText {
        font-family: "Pixelify Sans", sans-serif;

        display: inline-block;
        position: relative;
        left: 200px;
      }
    }
  }
}

/* Style for the centered content */

// image-grid
.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 0px 80px;
  border-radius: 12px;
}

.grid-container {
  border-radius: 12px;
  position: relative;
  display: inline-block;

  img {
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
}

.overlay {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2443ac;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-1 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3564a8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-2 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-3 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-4 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-5 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-container:hover .overlay {
  opacity: 1;
}

.grid-container:hover .overlay-1 {
  opacity: 1;
}

.grid-container:hover .overlay-2 {
  opacity: 1;
}

.grid-container:hover .overlay-3 {
  opacity: 1;
}

.grid-container:hover .overlay-4 {
  opacity: 1;
}

.grid-container:hover .overlay-5 {
  opacity: 1;
}

.network {
  background-color: #f8f6ef;
  padding: 48px;
  margin: 0px 0px 80px 0px;
  border-radius: 32px;

  svg {
    position: absolute;
    top: 1500;
    left: 0;
    z-index: -1;
  }

  .header {
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
    padding-bottom: 48px;

    h1 {
      font-size: 56px;
    }
  }

  .card-container {
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    .card {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      .circle-1{
        width: 20px;
        height: 20px;
        background: #abffb799;
        border-radius: 50%;
        position: relative;
        top: 0px;
        left: 0px;
        opacity: 0;
        animation-duration: 3s;
      }
      .circle-2{
        width: 12px; height: 12px; background: #ff660099; border-radius: 50%; position: relative; top: -60px; left: 20px;
      }

      &:hover {
        border: 1px solid #1863dc;
      }
      &:hover .circle-1{
        top: -20px;
        left: -15px;
  opacity: 1;
  animation-duration: 3s;
      }
    }
  }
}

.project-scroll{
padding: 24px;
} 
  

  .ri-circle-fill {
    width: 8px;
    height: 18px;
    color: #ff0000;
  }


marquee {
  font-size: 48px;
  color: #4d4d4d;
  font-weight: bolder;
}

footer {
  text-align: center;
  color: #ececec;
  background-color: #0c2140;
  padding: 64px;
  margin: 0px;

  h1 {
    font-size: 4rem;
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    color: #252525;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 24px;
    height: 24px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #c5221f;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #3cd032;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #0084ff;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #17d029;
    color: #ffffff;
  }
  
    }

  
  
