/* Reset some default styles for body and margin */
body {
  margin: 0;
  padding: 0px 158px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Syne", sans-serif;
}

h1 {
  font-family: "Syne", sans-serif;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Style for the fixed navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  color: #0b2240;
  /* Text color for the navigation bar */
  padding: 16px 0px;
  z-index: 100;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
}
.navbar .nav-links a {
  padding-right: 40px;
  text-decoration: none;
  letter-spacing: 3px;
  color: inherit;
  font-weight: 300;
  font-size: 14px;
}
.navbar .nav-links a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.navbar .nav-links a a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.cv-cntnr {
  width: 250px;
}
.cv-cntnr .btn {
  padding: 12px 32px;
  border-radius: 250px;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  font-weight: bolder;
  position: relative;
}
.cv-cntnr .btn .ri-download-line {
  margin-left: 12px;
}
.cv-cntnr .btn .parallelogram-1 {
  position: absolute;
  top: 0px;
  right: 320px;
  width: 10px;
  height: 50px;
  transform: skew(20deg);
  background: #f7f7f7;
  transition: right 0.8s ease-out;
}
.cv-cntnr .btn .parallelogram-2 {
  position: absolute;
  top: 0px;
  right: 340px;
  width: 5px;
  height: 50px;
  transform: skew(20deg);
  background: #f7f7f7;
  transition: right 0.8s ease-out;
}
.cv-cntnr .btn:hover {
  padding: 16px 36px;
  border-radius: 250px;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  font-weight: bolder;
  transform: rotate(-0.5deg);
}
.cv-cntnr .btn:hover .parallelogram-1 {
  right: -20px;
}
.cv-cntnr .btn:hover .parallelogram-2 {
  right: -30px;
}

.container {
  height: 70px;
  padding: 55px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.menu {
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu .share i.ri-grid-fill {
  height: 1500px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
}
.menu .share:hover.bottom .submenu li:nth-child(1) {
  opacity: 1;
  top: 50px;
  transform: rotate(0deg);
  transition-delay: 0.08s;
}
.menu .share:hover.bottom .submenu li:nth-child(2) {
  opacity: 1;
  top: 100px;
  transform: rotate(0deg);
  transition-delay: 0.16s;
}
.menu .share:hover.bottom .submenu li:nth-child(3) {
  opacity: 1;
  top: 150px;
  transform: rotate(0deg);
  transition-delay: 0.24s;
}
.menu .share:hover.bottom .submenu li:nth-child(4) {
  opacity: 1;
  top: 200px;
  transform: rotate(0deg);
  transition-delay: 0.32s;
}
.menu .share:hover.bottom .submenu li:nth-child(5) {
  opacity: 1;
  top: 250px;
  transform: rotate(0deg);
  transition-delay: 0.4s;
}
.menu .share:hover.left .submenu li:nth-child(1) {
  opacity: 1;
  left: -51px;
  transform: rotate(0deg);
  transition-delay: 0.5s;
}
.menu .share:hover.left .submenu li:nth-child(2) {
  opacity: 1;
  left: -102px;
  transform: rotate(0deg);
  transition-delay: 1s;
}
.menu .share:hover.left .submenu li:nth-child(3) {
  opacity: 1;
  left: -153px;
  transform: rotate(0deg);
  transition-delay: 1.5s;
}
.menu .share:hover.left .submenu li:nth-child(4) {
  opacity: 1;
  left: -204px;
  transform: rotate(0deg);
  transition-delay: 2s;
}
.menu .share:hover.left .submenu li:nth-child(5) {
  opacity: 1;
  left: -255px;
  transform: rotate(0deg);
  transition-delay: 2.5s;
}
.menu .share:hover.right .submenu li:nth-child(1) {
  opacity: 1;
  left: 50px;
  transform: rotate(0deg);
  transition-delay: 0.08s;
}
.menu .share:hover.right .submenu li:nth-child(2) {
  opacity: 1;
  left: 100px;
  transform: rotate(0deg);
  transition-delay: 0.16s;
}
.menu .share:hover.right .submenu li:nth-child(3) {
  opacity: 1;
  left: 150px;
  transform: rotate(0deg);
  transition-delay: 0.24s;
}
.menu .share:hover.right .submenu li:nth-child(4) {
  opacity: 1;
  left: 200px;
  transform: rotate(0deg);
  transition-delay: 0.32s;
}
.menu .share:hover.right .submenu li:nth-child(5) {
  opacity: 1;
  left: 250px;
  transform: rotate(0deg);
  transition-delay: 0.4s;
}
.menu .share:hover.top .submenu li:nth-child(1) {
  opacity: 1;
  top: -51px;
  transition-delay: 0.08s;
  transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(2) {
  opacity: 1;
  top: -102px;
  transition-delay: 0.16s;
  transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(3) {
  opacity: 1;
  top: -153px;
  transition-delay: 0.24s;
  transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(4) {
  opacity: 1;
  top: -204px;
  transition-delay: 0.32s;
  transform: rotateY(0deg);
}
.menu .share:hover.top .submenu li:nth-child(5) {
  opacity: 1;
  top: -255px;
  transition-delay: 0.4s;
  transform: rotateY(0deg);
}
.menu .submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .submenu li {
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.menu .submenu li a {
  color: #212121;
  background-color: #fff;
  text-decoration: none;
  padding: 16px;
  border-radius: 100px;
}
.menu .submenu li a:hover {
  padding: 0px;
  border-radius: 0px;
}
.menu .submenu li a:hover.linkedin i.ri-linkedin-fill {
  padding: 16px;
  border-radius: 100px;
  background-color: #0077b5;
  color: #fff;
}
.menu .submenu li a:hover.dribbble i.ri-dribbble-line {
  padding: 16px;
  border-radius: 100px;
  background-color: #c7166f;
  color: #fff;
}
.menu .submenu li a:hover.behance i.ri-behance-fill {
  padding: 16px;
  border-radius: 100px;
  color: #fff;
  background-color: #0057ff;
}
.menu .submenu li:nth-child(1) {
  transform: rotateX(45deg);
}
.menu .submenu li:nth-child(2) {
  transform: rotateX(90deg);
}
.menu .submenu li:nth-child(3) {
  transform: rotateX(135deg);
}
.menu .submenu li:nth-child(4) {
  transform: rotateX(180deg);
}
.menu.bottomRight {
  background-color: #fff;
  border-radius: 100px;
  padding: 16px;
  bottom: 48px;
  right: 48px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
}
.content #bg-wrap {
  position: absolute;
  opacity: 0.2;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  /* Ensure it's behind other content */
}
.content .centered {
  padding: 0px 185px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.content .centered h1 {
  text-align: start;
  font-size: 64px;
  /* Adjust the heading size as needed */
  margin-bottom: 64px;
}
.content .centered p {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  /* Adjust the paragraph size as needed */
  margin-bottom: 20px;
  color: #4d4d4d;
}
.content .centered .scroll {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.content .centered .scroll a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.content .centered .scroll i {
  margin-left: 5px;
  animation: arrowBounce 1s infinite;
}
@keyframes arrowBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.content .centered a {
  font-size: 10px;
  text-decoration: none;
  color: #111111;
  /* Link color */
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 150px;
  border-radius: 50%;
  justify-content: center;
  /* Smooth color transition on hover */
}
.content .centered a p {
  text-align: center;
  font-weight: regular;
  font-size: 12px;
}
.content .centered a:hover {
  text-decoration: none;
  color: #111111;
  /* Link color */
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
}
.content .is-hidden {
  display: none !important;
}
.content .PageBackToWork-heading {
  text-align: start;
  letter-spacing: 0.05em;
}
.content .PageBackToWork-heading-rotationTextContainer {
  position: relative;
}
.content .PageBackToWork-heading-rotationText {
  display: inline-block;
  position: absolute;
  left: 300px;
}
.content .PageBackToWork-heading-rotationText.is-inactive {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.content .PageBackToWork-heading-itText {
  display: inline-block;
}
.content .PageBackToWork-heading-btmText {
  font-family: "Pixelify Sans", sans-serif;
  display: inline-block;
  position: relative;
  left: 200px;
}

/* Style for the centered content */
.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 0px 80px;
  border-radius: 12px;
}

.grid-container {
  border-radius: 12px;
  position: relative;
  display: inline-block;
}
.grid-container img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.overlay {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2443ac;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-1 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3564a8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-2 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-3 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-4 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-5 {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-container:hover .overlay {
  opacity: 1;
}

.grid-container:hover .overlay-1 {
  opacity: 1;
}

.grid-container:hover .overlay-2 {
  opacity: 1;
}

.grid-container:hover .overlay-3 {
  opacity: 1;
}

.grid-container:hover .overlay-4 {
  opacity: 1;
}

.grid-container:hover .overlay-5 {
  opacity: 1;
}

.network {
  background-color: #f8f6ef;
  padding: 48px;
}
.network svg {
  position: absolute;
  top: 1500;
  left: 0;
  z-index: -1;
}
.network .header {
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}
.network .header h1 {
  font-size: 56px;
}
.network .card-container {
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.network .card-container .card {
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
}
.network .card-container .card:hover {
  border: 1px solid #1863dc;
}

.project-scroll {
  padding: 24px;
}

.ri-circle-fill {
  width: 8px;
  height: 18px;
  color: #ff0000;
}

marquee {
  font-size: 48px;
  color: #4d4d4d;
  font-weight: bolder;
}

footer {
  text-align: center;
  color: #ececec;
  background-color: #0c2140;
  padding: 64px;
  margin: 0px;
}
footer h1 {
  font-size: 4rem;
}
footer .wrapper {
  display: inline-flex;
  list-style: none;
}
footer .wrapper .icon {
  position: relative;
  background: #ffffff;
  color: #252525;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
footer .wrapper .icon:hover span,
footer .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
footer .wrapper .facebook:hover,
footer .wrapper .facebook:hover .tooltip,
footer .wrapper .facebook:hover .tooltip::before {
  background: #c5221f;
  color: #ffffff;
}
footer .wrapper .twitter:hover,
footer .wrapper .twitter:hover .tooltip,
footer .wrapper .twitter:hover .tooltip::before {
  background: #3cd032;
  color: #ffffff;
}
footer .wrapper .instagram:hover,
footer .wrapper .instagram:hover .tooltip,
footer .wrapper .instagram:hover .tooltip::before {
  background: #0084ff;
  color: #ffffff;
}
footer .wrapper .github:hover,
footer .wrapper .github:hover .tooltip,
footer .wrapper .github:hover .tooltip::before {
  background: #17d029;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */